<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.overlay.framework.res.multilang"
    android:versionCode="36"
    android:versionName="16">

    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="36" />

    <overlay
        android:targetPackage="android"
        android:priority="999"
        android:isStatic="true" />
    
    <application
        android:label="framework-res-multilang"
        android:extractNativeLibs="false" />
</manifest>
