<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.overlay.miuithememanager.multilang"
    android:versionCode="36"
    android:versionName="16">

    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="36" />

    <overlay
        android:targetPackage="com.android.thememanager"
        android:priority="999"
        android:isStatic="true" />
    
    <application
        android:label="MIUIThemeManager-multilang"
        android:extractNativeLibs="false" />
</manifest>
